S3method(as.data.frame,AnnotatedDataFrame)
S3method(round,topTable)
S3method(subset,LumiBatch)
S3method(subset,MArrayLM)
S3method(subset,eSet)
export(DEgenes.topTable)
export(LumiBatch2GEOarchive)
export(LumiBatch2gct)
export(RankProd.signed.score)
export(agilent.miRNA.cbind)
export(agilent.miRNA.filter.GX10)
export(agilent.miRNA.normalise.GX10)
export(agilent.miRNA.preprocess)
export(agilent.miRNA.preprocess.GX10)
export(agilent.miRNA.threshold.GX10)
export(barplot_lmFit)
export(blatGene)
export(calc.best.probe.topTable)
export(catplot.RankProd)
export(collapse.topTable)
export(convert.partek2topTable)
export(export.DEgenes.topTable)
export(export.topTable)
export(hist_pvals_pi0)
export(import.Agilent.GeneView.Experiment)
export(import.Agilent.GeneView.File)
export(import.agilent)
export(import.agilent.column2table)
export(import.illumina.bgx)
export(is.topTable.list)
export(logFC2signedFC)
export(lowessMA)
export(make.sample.info.Agilent)
export(merge_topTable)
export(mget.chain)
export(mget.multi)
export(mget2)
export(normalizeQuantiles.list)
export(plotMA.all)
export(plot_arrayWeights)
export(plot_cor_topTable)
export(plot_dabg_vs_rma)
export(plot_genespringGX_lines)
export(plot_lumi_QC_all)
export(plot_venn2D_topTable)
export(plot_venn3D_topTable)
export(summarise.dabg)
export(summarise.topTable)
export(summarise.topTable.list)
export(summarise.topTable.updown)
export(topTable.SE)
export(topTable.all)
export(topTable.fixFC)
export(topTable.to.label)
export(transform_Agilent_log)
export(volcanoplot_topTable)
export(volcanoplot_topTable_PandQ)
exportMethods(average.pval.replicates)
exportMethods(average.replicates)
exportMethods(collapse)
importClassesFrom(Biobase,AnnotatedDataFrame)
importClassesFrom(Biobase,ExpressionSet)
importClassesFrom(Biobase,eSet)
importClassesFrom(limma,MAList)
importClassesFrom(limma,MArrayLM)
importClassesFrom(limma,RGList)
importClassesFrom(lumi,LumiBatch)
importFrom(AnnotationDbi,mget)
importFrom(Biobase,assayDataElementNames)
importFrom(Biobase,assayDataElementReplace)
importFrom(Biobase,exprs)
importFrom(Biobase,fData)
importFrom(Biobase,featureNames)
importFrom(Biobase,sampleNames)
importFrom(Cairo,CairoPNG)
importFrom(excelIO,write.xls)
importFrom(genomics,mirsort)
importFrom(limma,MA.RG)
importFrom(limma,arrayWeights)
importFrom(limma,normalizeBetweenArrays)
importFrom(limma,normalizeQuantiles)
importFrom(limma,plotMA)
importFrom(limma,topTable)
importFrom(limma,topTableF)
importFrom(lumi,MAplot)
importFrom(lumi,detection)
importFrom(lumi,pairs)
importFrom(lumi,plot)
importFrom(lumi,plotSampleRelation)
importFrom(mjcaffy,calls2colour)
importFrom(mjcstats,p.adjust)
importFrom(mjcstats,qvalue2)
importFrom(plyr,join)
importFrom(stats,lowess)
importMethodsFrom(Biobase,"phenoData<-")
importMethodsFrom(Biobase,"protocolData<-")
importMethodsFrom(Biobase,assayData)
importMethodsFrom(Biobase,phenoData)
importMethodsFrom(Biobase,protocolData)
importMethodsFrom(lumi,"detection<-")
importMethodsFrom(lumi,detection)
importMethodsFrom(lumi,getHistory)
importMethodsFrom(mjcbase,sort)
